
<!-- TOP TABS -->
<div class="top-tabs-wrap">
    <div class="left-side">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link" [ngClass]="{'active': activeTab === 'master-data'}" id="pills-masters-data-tab" >
            <i class="icon icon-master-data xl"></i>
            <span class="text">Tool 1</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [ngClass]="{'active': activeTab === 'master-mapping'}" id="pills-master-mapping-tab">
            <i class="icon icon-master-mapping xl"></i>
            <span class="text">Tool 2</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [ngClass]="{'active': activeTab === 'workflow'}" id="pills-workflow-tab">
            <i class="icon icon-workflow-2 xl"></i>
            <span class="text">Tool 3</span>
          </button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" [ngClass]="{'active': activeTab === 'user-management'}" id="pills-user-management-tab" >
            <i class="icon icon-user-management xl"></i>
            <span class="text">User Management</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [ngClass]="{'active': activeTab === 'office'}" id="pills-office-tab" >
            <i class="icon icon-office-2 xl"></i>
            <span class="text">Office</span>
          </button>
        </li> -->
      </ul>
    </div>
  
    <div class="right-side">
      <div class="view-more-btn-wrap">
        <button class="nav-link view-btn btn-primary sm">
          <i class="icon icon-menu-boxes-2 xl"></i>
          <span class="text">See More</span>
        </button>
      </div>
    </div>
  </div>
  

