.admin-layout{
    .timeline-outer-wrap{
        .timeline{
            li{
                &.item{
                  &.finished{
                    .circle{
                        border-color: $primary-90 !important;
                        background-color: $primary-90 !important;
                    }
                  }
                  &.current-item{
                    .circle{
                        border-color: $primary-90 !important;
                        &:before{
                            background-color:  $primary-90 !important;
                        }
                    }
                  }
                }
            }
        }
    }
}