    // colors
    $primary-90: #422369;
    $primary-50: #724BA4;
    $primary-20: #8C89B4;
    $primary-10: #AEABD8;
    $primary-light: #DEC2FF;
    $secondary: #202938;
    $gray: #535353;
    $gray-light: #afafaf;
    $black-variant: #202020;
    $black-variant-2: #15223C;
    $blues-variant:#1F95FF;
    $green-variant: #D8FFEC;
    $red-variant-1: #F85A5A;
    $red-variant-2: #E25252;
    $success-300: #2DD683;
    $danger-300: #FF0019;
    $danger-200: #E74A51;
    $danger-20:#FFD7DB;

    $finance-colors: (
        "primary-90":  $primary-90,
    )
