<div class="status-menu-wrap">
    <div class="row status-menu-row">
        <div class="col-3 column">
            <div class="status-menu-card">
                <div class="left">
                    <div class="icon-wrap up">
                        <i class="icon icon-arrow-downleft"></i>
                    </div>
                    <div class="description-wrap">
                        <h6 class="head">Balance</h6>
                        <h5 class="price">₹128,320</h5>
                    </div>
                </div>

                <div class="right">
                    <div class="status-text-wrap up">
                        <i class="icon icon-arrow"></i>
                        <small class="status-text">11.09%</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 column">
            <div class="status-menu-card">
                <div class="left">
                    <div class="icon-wrap up">
                        <i class="icon icon-arrow-downleft"></i>
                    </div>
                    <div class="description-wrap">
                        <h6 class="head">Saving</h6>
                        <h5 class="price">₹128,320</h5>
                    </div>
                </div>

                <div class="right">
                    <div class="status-text-wrap up">
                        <i class="icon icon-arrow"></i>
                        <small class="status-text">11.09%</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 column">
            <div class="status-menu-card">
                <div class="left">
                    <div class="icon-wrap up">
                        <i class="icon icon-arrow-downleft"></i>
                    </div>
                    <div class="description-wrap">
                        <h6 class="head">Income</h6>
                        <h5 class="price">₹128,320</h5>
                    </div>
                </div>

                <div class="right">
                    <div class="status-text-wrap up">
                        <i class="icon icon-arrow"></i>
                        <small class="status-text">11.09%</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 column">
            <div class="status-menu-card">
                <div class="left">
                    <div class="icon-wrap down">
                        <i class="icon icon-arrow-downleft"></i>
                    </div>
                    <div class="description-wrap">
                        <h6 class="head">Expense</h6>
                        <h5 class="price">₹128,320</h5>
                    </div>
                </div>

                <div class="right">
                    <div class="status-text-wrap down">
                        <i class="icon icon-arrow"></i>
                        <small class="status-text">11.09%</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>