<div class="finance-container">
    <div class="fin-card">
        <div class="row gx-0 gy-0 fin-row">
            <div class="col-md-4 left-column">
                <div class="card widget-card table-card">
                    <div class="card-header">
                        <div class="header-wrap-outer">
                            <div class="header-wrap">
                                <div class="text-wrap">
                                    <h6>Accounts Head</h6>
                                </div>
            
                            </div>
            
                            <!--header right side -->
                            <div class="right-side">
            
                                <!-- button-wrap -->
                                <div class="button-wrap">
                                    <a role="button"><i class="icon icon-expand-form"></i></a>
                                </div>
                                
                            </div>
                       </div>
                    </div>

                    <div class="card-body">
                        <div class="form-wrap table-form-wrap">
                            <div class="form-body">
                                <div class="row form-row">
                            
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="row form-inner-row">
                                                <div class="col-3 left-side">
                                                    <label for="s-sub" class="form-label">Parent Head</label>
                                                </div>
                        
                                                <div class="col-9 right-side">
                                                   <div class="input-group right xs">
                                                    <input  type="text" name="s-sub" id="s-sub"  class="form-control xs">
                                                    <span class="input-group-text xs"><i class="icon icon-search-gray"></i></span>
                                                   </div>
                                                </div>
                                            </div>
                                
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="row form-inner-row">
                                                <div class="col-3 left-side">
                                                    <label for="head-code" class="form-label">Head Code</label>
                                                </div>
                                                <div class="col-9 right-side">
                                                    <input type="text" name="head-code" id="head-code" class="form-control xs">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <!-- Head -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="row form-inner-row">
                                                <div class="col-3 left-side">
                                                    <label for="head" class="form-label">Head</label>
                                                </div>
                                                <div class="col-9 right-side">
                                                    <input type="text" name="head" id="head" class="form-control xs">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <!-- Short Description -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="row form-inner-row">
                                                <div class="col-3 left-side">
                                                    <label for="short-desc" class="form-label">Short Description</label>
                                                </div>
                                                <div class="col-9 right-side">
                                                    <input type="text" name="short-desc" id="short-desc" class="form-control xs">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <!-- Primary -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="row form-inner-row">
                                                <div class="col-3 left-side">
                                                    <label for="primary" class="form-label">Primary</label>
                                                </div>
                                                <div class="col-9 right-side">
                                                    <input type="text" name="primary" id="primary" class="form-control xs">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <!-- Secondary -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="row form-inner-row">
                                                <div class="col-3 left-side">
                                                    <label for="secondary" class="form-label">Secondary</label>
                                                </div>
                                                <div class="col-9 right-side">
                                                    <input type="text" name="secondary" id="secondary" class="form-control xs">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <!-- Type (Select dropdown) -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="row form-inner-row">
                                                <div class="col-3 left-side">
                                                    <label for="type" class="form-label">Type</label>
                                                </div>
                                                <div class="col-9 right-side">
                                                    <select name="type" id="type" class="form-select xs">
                                                        <option value="">Select Type</option>
                                                        <option value="type1">Type 1</option>
                                                        <option value="type2">Type 2</option>
                                                        <option value="type3">Type 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-lg-12">
                                        <div class="gradient-box">
                                            <div class="gradient-box-inner">
                                                <div class="heading-wrap end">
                                                    <div class="heading">
                                                        <h6 class="head">Grand Total</h6>
                                                        <h5 class="desc">₹ <span class="amount">23,980.00</span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                  
                                </div>
                            </div>
                        
                            <div class="form-footer">
                                <div class="button-wrap">
                                    <button  class="sm btn btn-outline-primary-90 cancel-btn" >Clear</button>
                                    <button  class="sm btn btn-primary-90 add-btn" >Save</button>
                                  </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 right-column">
                <div class="card widget-card table-card footer-include">
                    <div class="card-header">
                        <div class="header-wrap-outer">
                            <div class="header-wrap">
                                <div class="text-wrap">
                                    <h6>Secondary Head</h6>
                                </div>
            
                            </div>
            
                            <!--header right side -->
                            <div class="right-side">
            
                                <!-- search -->
                                <div class="search-wrap">
                                    <div class="input-group xs">
                                        <span class="input-group-text"><i class="icon icon-search-gray"></i></span>
                                        <input type="text" name="search" id="search" placeholder="Search" class="form-control xs">
                
                                    </div>
                                </div>
                                
                            </div>
                       </div>
                    </div>

                    <div class="card-body">
                        <div class="table-outer-wrap">
                            <div class="table-wrap file-box-wrap pagination-included">
                                <table mat-table [dataSource]="dataSource" class="w-100 admin-table file-table">
                              
                                    <!-- Module Column -->
                                    <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef> Type </th>
                                        <td mat-cell *matCellDef="let element"> <span class="badge bg-gray-15 code-badge xs">{{element.type}}</span></td>
                                    </ng-container>
                              
                                    <!-- Code -->
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef> Code </th>
                                        <td mat-cell *matCellDef="let element">{{element.code}} </td>
                                    </ng-container>
                              
                                    <!--  Head -->
                                    <ng-container matColumnDef="head">
                                        <th mat-header-cell *matHeaderCellDef> Head </th>
                                        <td mat-cell *matCellDef="let element"> {{element.head}} </td>
                                    </ng-container>
                              
                              
                                    <!-- Header and Row Definitions -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                              </div>
                              
                                <!-- MatPaginator for Pagination -->
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                              
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="card-action-wrap" >
                            <button type="button" class="btn btn-primary-90 sm">Add New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>