.icons-list-wrapper{
    padding-top: 5.1rem;
    .icons-list-inner{
        .item{
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }
            .head{
                font-size: $subheading-sm !important;
                color: $black-65 !important;
                font-weight: $font-weight-semibold !important;
                margin-bottom: 1rem;
            }
            .icon-list{
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                @include flex(flex, center, normal);
                gap: 1rem;
                @include flex-wraping(wrap);
                li{
                    flex: 15%;
                    background-color: $gray-15;
                    @include padding(.5rem, .5rem, .5rem, .5rem);
                    @include curve(.5rem);
                    text-align: center;
                    .title{
                        display: block;
                        font-size: $tiny;
                        font-weight: $font-weight-medium;
                        color: $black-65;
                    }
                }
            }
        }
    }
}