.finance-container{
    &.dashboard-wrap{
        height: 100% !important;
        padding-top: .5rem;
        padding-bottom: 1rem;
    }
    .dashboard-card{
        &.count{
            height: 4.1875rem !important;
            @include flex(flex, normal, center);
            flex-direction: column;
        }
        .status-menu-card{
            padding: 0 !important;
        }
        .transactions{
            max-height: 21rem;
            overflow-y: auto;
            overflow-x: hidden;
            @include scrollbar();
        }
        .outcome-statistics{
            max-height: 15rem;
            overflow-y: auto;
            overflow-x: hidden;
            @include scrollbar();
        }
        &.primary-card{
            .select-wrap{
                .form-select{
                    background-color: transparent  !important;
                    border-color:rgb( $primary-20, .5) !important;
                    color: $primary-10 !important;
                }
            }
            .card-header{
                background-color: $primary-90 !important;
                .text-wrap{
                    h6{
                        color: $white !important;
                    }
                }
            }
            border-color: $primary-50 !important;
            background-color: $primary-90 !important;
            
        }
        .card-header{
            border-bottom: none !important;
        }
        .view-btn{
            color: $primary-50 !important;
            font-size: $small !important;
            font-weight: $font-weight-medium !important;
            display: inline-block;
            line-height: 1.3125rem !important;
        }
        .action-wrap{
            @include flex(flex, center, normal);
            gap: .5rem;
            &.end{
                justify-content: end !important;
            }
            .select-wrap{
                .form-select{
                    color: $gray-light !important;
                    min-width: 100% !important;
                    padding-right: 2rem !important;
                }
            }
        }
    
        //flex items
        .flex-item-wrap-outer{
            .flex-item-inner{
                @include flex(flex, normal, normal);
                flex-direction: column;
                .flex-item{
                    @include flex(flex, center, space-between);
                    gap: .5rem;
                    .left{
                        flex: 65%;
                    }
                    .right{
                        flex: 35%;
                        .price{
                            text-align: end;
                        }
                    }
                    .content-wrap{
                        &.flex{
                            @include flex(flex, center, normal);
                            gap: .5rem;
                        }
                        .status-bar{
                            height: 5px;
                            @include curve(.8125rem);
                            .mat-mdc-progress-bar-fill{
                                &::after{
                                    background-color: $primary-50;
                                    @include curve(.8125rem);
                                }
                            }
                        }
                        .icon-wrap{
                            width: 1.5rem;
                            height: 1.5rem;
                            @include curve(50%);
                            text-align: center;
                            background-color: $primary-50;
                        }
                        .head{
                            color: $black-65 !important;
                            font-size: $small !important;
                            font-weight: $font-weight-medium !important;
                            line-height: 1.3125rem !important;
                            margin-bottom: 0;
                        }
                        .sub-desc{
                            color: $gray-150 !important;
                            font-size: $tiny !important;
                            line-height: 1.125rem !important;
                            display: block;
                        }
                        .price{
                            display: block;
                            color: $black-65 !important;
                            font-size: $small !important;
                            font-weight: $font-weight-medium !important;
                            line-height: 1.3125rem !important;
                            &.success{
                                color: $success-300 !important;
                            }
                            &.danger{
                                color: $danger-200 !important;
                            }
                        }
                    }
                }
            }
        }
        .outcome-statistics{
            .head{
                font-size: $para !important;
                color:  $black-variant-2 !important;
            }
        }
    }
}

