    // colors
    $primary-90: #03346E;
    $primary-light: #C7EAE6;
    $secondary: #202938;
    $gray: #535353;
    $black-variant: #202020;
    $blues-variant:#1F95FF;

    $admin-colors: (
        "primary-90":    $primary-90,
    )
